body {
    font-family: "Arial";
    width: 80%;
    margin: auto;
}

h1 {
  text-align: center;
  color: #FFA500;
  text-shadow: 2px 2px #000000;
}

div.topnav {
  background-color: #FFA500;
  overflow: hidden;
}

div.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

div.topnav a:hover {
  background-color: #000000;
  color: #FFFFFF;
}

div.topnav a:active {
  background-color: #753700;
  color: white;
}

section{
  display: inline-flex;
  flex-wrap: wrap;
}

section img {
  width: 50%;
  height: 50%;
  margin: 1em;
}

article {
  border: 1px solid black;
  padding: 10px;
  width: 50%;
  height: 50%;
}

article figure {
  font-size: 1.5em;
}

p.prix{
  background-color: #FFA500;
  color: white;
  width: 25%;
  font-size: 1.5em;
  border-radius: 5px;
  text-align: center;
}

footer {
  text-align: right;
}
