body {
	font-family: "Arial";
	width: 80%;
	margin: auto;
  text-align: center;
}

header {
	font-size:large;
	font-weight: bolder;
  text-align: center;
	margin: 0px;
}

header img {
	max-width: 100%;
  height: auto;
}

header p {
		margin: 0px;
}

header h1 {
	padding-left : 20px;
	color: #FFA500;
}

article {
  width: 220px;
  height: 200px;
  display: inline-block;
  border: 1px solid #CCC;
	box-shadow: 5px 5px 5px #AAA;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: top;
  text-align: center;
}
article h2 {
	font-size:small;
  color: black;
}

article img {
	   width: 150px;
     height: 120px;
}

article p {
  color: black;
}

footer{
  text-align: right;
  padding-right: 15px;
}
nav{
  background:inherit;
  font-size:20px;
  font-weight:bold;
  height:0;
  width: 20%;
  overflow:hidden;
  text-transform:uppercase;
  transition:height .2s;
}

nav > *
{
  display:block;
  letter-spacing:1px;
  line-height:2.5;
  padding:0 20px;
  width:100%;
}

/* nav input{
  border:none;
  color:black;
} */

nav a{
  color: black;
  text-transform: none;
  text-decoration: none;
  background-color: gray;
  margin: 1px;
}

.burger
{
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  color:inherit;
  cursor:pointer;
  font-family:'Material Icons';
  font-size:30px;
  line-height:50px;
  margin:0;
  outline:0;
  padding:0;
  position:absolute;
  text-align:center;
  top:0;
  right:150px;
  width:50px;
}

.burger:before
{
  content:'menu';
}

.burger:checked:before
{
  content:'close';
}

.burger:checked + nav
{
  height:20%;
}
